.character{
  width: 100px;
  height: 100px;
  position:absolute;
  bottom: 10%;
  left: 10%;
  background-image: url('mario.webp');
  background-size: cover;
}

.jump{
  animation: jump 4000ms forwards;
}


@keyframes  jump {
    50%{
      bottom: 60%;
    }
    100%{
      bottom: 8%;
      transform: rotate(-360deg);
    }
}
 
.back{

  background-image: url(back.png);
  background-size: cover;
  animation: move 2s  linear infinite; 
  min-height: 100vh;
}

@keyframes  move {
 0% {
   background-position: 0px 0;
 }
 100% {
   background-position: -2000px 0;
 }

}

.enemy{
  position: absolute;
  background-image: url(bullet2.webp);
  background-size: cover;
  left: 100%;
  bottom: 10%;
  width: 200px;
  height: 150px;

animation: moveenemy 4s linear infinite;
 

}
@keyframes moveenemy{ 
  100% {
    left:-20%
  }
  

}

.power{
  animation: power 8000ms linear forwards;


}@keyframes power{

  0%{
    width: 100px;
    height: 100px;
    
  }

25%{
  width: 300px;
  height: 300px;
  bottom: 60%;
}
  50%{
    width: 500px;
    height: 500px;
    bottom: 70%;
  }
  100%{
    width: 100px;
    height: 100px;
  }
}

h1{
  color: red;
  
}


